body{
    margin: 0;
}

 .img1{

   
    height: 35vh;
    /* background-image:url(2p.jpg); */
    background-position: center center;
    background-size: cover;
    position: relative;
    /* background-image: url(1.jpg); */
 
   

} 

/* @media(max-width:768px){
    .img1{
        background-size: cover;
    }
}


@media(max-width:576px){
    .img1{
        background-size: cover;
    }
} */


.txt1{
    font-size: 55px;
    color: white;
    display: flex;
    margin-top: 85px;
    text-align: center;
    /* margin-top: 85px;
    margin-left: 657px; */
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}